*{
    margin:0;
    padding:0;
}

header{
    height: 60px;
    background-color: #07393C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    align-items: center;
}

header a{
    font-family: "Playfair Display", serif;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
}

.name{
    font-size: 36px;
}

.header-links{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    width: 15%;
}

.header-title{
    color: #FFFFFF;
}

h4{
    font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.toggle-button-container{
    width: 50%;
    margin: auto;
    background-color: #07393C;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 60px;
    display: flex;
    align-items: center;
}


.toggle-button-container.webdev{
    width: 50%;
    margin: auto;
    background-color: #07393C;
    margin-top: 30px;
    border-radius: 60px;
    display: flex;
    justify-content: flex-end;
}

.webdev-title-container{
    background-color: white;
    border: 3px solid #07393C;
    border-radius: 60px;
    padding: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.video-title-container{
    background-color: white;
    border: 3px solid #07393C;
    border-radius: 60px;
    padding: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
}

a, h1{
    font-family: 'Josefin sans', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-decoration: none;
    color: #07393C;
}

.all-videos-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

iframe{
    width: 640px;
    height: 360px;
    margin-bottom: 20px;
    border: 5px solid #2C666E;
    box-shadow: 0px 0px 0px 3px #90DDF0;
}

.video-caption{
    margin-bottom: 40px;
    font-family:'Josefin sans', sans-serif;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #07393C;
  color: white;
  margin-top: 40px;
}

p{
    font-family: 'Josefin sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.description-container{
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}
@media (max-width: 1200px){
    .toggle-button-container, .toggle-button-container.webdev{
        width: 80%;
    }

    .header-links{
        flex-direction: column;
    }

    .description-container{
        width: 80%;
    }
}

@media (max-width: 700px){
    .toggle-button-container, .toggle-button-container.webdev{
        width: 90%;
    }

    a{
        font-size: 20px;
    }

    .name {
        font-size: 24px;
    }

    header a {
        font-size: 20px;
    }


    iframe{
        width: 320px;
        height: 180px;
    }
}